@model IEnumerable<Train_project.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Staffs</h1>

<center>
    <a href="https://lh3.googleusercontent.com/jceFMEidUmGGTfVCxMvfMl53Gbd9N7gqqa_fMxh_EZyTedkEdm_ATs2HR4Go-eHV3ThFpGLuJ8fqRmRkduBD3aRQ7r6I6nMz6Oz2qBat-kmcSjZS1dtFgHjU3saAHjf4vzBBGraBAg=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/jceFMEidUmGGTfVCxMvfMl53Gbd9N7gqqa_fMxh_EZyTedkEdm_ATs2HR4Go-eHV3ThFpGLuJ8fqRmRkduBD3aRQ7r6I6nMz6Oz2qBat-kmcSjZS1dtFgHjU3saAHjf4vzBBGraBAg=w600-h315-p-k" /> </a>
</center>
<p>
    <hr />
    <a asp-action="Create" class="btn btn-danger btn-lg btn-block">Create New (For Admin)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Staff ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Responsibility
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Train ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ST_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ST_fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ST_lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ST_resp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ST_DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Train.TR_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ST_id" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ST_id" class="btn btn-success btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ST_id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="AdminLogin" asp-action="Login" class="btn btn-secondary">Back</a>
</div>

