@model Train_project.Models.Passenger

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Passenger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.P_id" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
